<h2>Sign up</h2>
<form action="/signup" method="post">
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" required="required" maxlength="20" minlength="6">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" required="required" maxlength="20" minlength="6">
    </div>
    <div>
      <input type="submit" value="Sign up">
    </div>
</form>
<p>
  <a href="/login">Login to your account &rarr;</a>
<p>
